<%include header.html%>
<!-- //header -->
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="index"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>首页</a></li>
				<li class="active">登录</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- login -->
<div class="login">
	<div class="container">
		<h3 class="animated wow zoomIn" data-wow-delay=".5s">欢迎登录</h3>
		<p class="est animated wow zoomIn" data-wow-delay=".5s">登录之后即可开启属于你的————最好的店</p>
		<div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
			
				<input type="email" id="email" placeholder="Email Address" required=" " >
				<input type="password" id="password" placeholder="Password" required=" " >
				<div class="forgot">
					<a href="#">忘记密码</a>
				</div>
				<input onclick="login()" type="submit" value="登录">
			
		</div>
		<h4 class="animated wow slideInUp" data-wow-delay=".5s">新成员</h4>
		<p class="animated wow slideInUp" data-wow-delay=".5s"><a href="register.html">请注册</a> 或者回到主页的注册 <a href="index.html">首页<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></p>
	</div>
</div>
<script>
	function login(){
			var email=document.getElementById("email");
			var password=document.getElementById("password")
			var infor="email="+email.value+"&&password="+email.value;

			$.ajax({
				url: 'login',
				type: "POST",
				data: {
					email: email.value,
					password: password.value
				},
				traditional: true,//这里设置为true
				success: function(data) {
					console.log(data);
					var data = JSON.parse(data);
					console.log(data["insertId"]);

					// alert(data);
					if(data["insertId"]==2){
						window.location.href="index";
					}else if(data["insertId"]==1){
						alert(data.msg)
					}else{
						alert(data.msg)
                        window.location.href="register";
					}
                   
				}
			});
		  
	}
</script>
<!-- //login -->
<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="footer-grids">
			<div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".5s">
				<h3>关于我们</h3>
				<p>Duis aute irure dolor in reprehenderit in voluptate velit esse.<span>Excepteur sint occaecat cupidatat 
					non proident, sunt in culpa qui officia deserunt mollit.</span></p>
			</div>
			<div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".6s">
				<h3>联系信息</h3>
				<ul>
					<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>1234k Avenue, 4th block, <span>New York City.</span></li>
					<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
					<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 567</li>
				</ul>
			</div>
			<div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".7s">
				<h3>我们的帖子</h3>
				<div class="footer-grid-left">
					<a href="single"><img src="images/13.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="footer-grid-left">
					<a href="single"><img src="images/14.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="footer-grid-left">
					<a href="single"><img src="images/15.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="footer-grid-left">
					<a href="single"><img src="images/16.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="footer-grid-left">
					<a href="single"><img src="images/13.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="footer-grid-left">
					<a href="single"><img src="images/14.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="footer-grid-left">
					<a href="single"><img src="images/15.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="footer-grid-left">
					<a href="single"><img src="images/16.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="footer-grid-left">
					<a href="single"><img src="images/13.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="footer-grid-left">
					<a href="single"><img src="images/14.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="footer-grid-left">
					<a href="single"><img src="images/15.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="footer-grid-left">
					<a href="single"><img src="images/16.jpg" alt=" " class="img-responsive" /></a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".8s">
				<h3>博客文章</h3>
				<div class="footer-grid-sub-grids">
					<div class="footer-grid-sub-grid-left">
						<a href="single"><img src="images/9.jpg" alt=" " class="img-responsive" /></a>
					</div>
					<div class="footer-grid-sub-grid-right">
						<h4><a href="single">culpa qui officia deserunt</a></h4>
						<p>Posted On 25/3/2016</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="footer-grid-sub-grids">
					<div class="footer-grid-sub-grid-left">
						<a href="single"><img src="images/10.jpg" alt=" " class="img-responsive" /></a>
					</div>
					<div class="footer-grid-sub-grid-right">
						<h4><a href="single">Quis autem vel eum iure</a></h4>
						<p>Posted On 25/3/2016</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="footer-logo animated wow slideInUp" data-wow-delay=".5s">
			<h2><a href="index">最好的店 <span>购物无处不在</span></a></h2>
		</div>
	</div>
</div>
<!-- //footer -->
</body>
</html>